bitarray==0.8.1
bucky==2.2.2
celery==3.1.17
colour-runner==0.0.4
coverage==4.0b1
defusedxml==0.4.1
django-appconf==1.0.1
django-bootstrap3==5.2.0
django-braces==1.4.0
django-compat==1.0.7
django-configurations==0.8
django-contrib-comments==1.5.1
django-countries==3.1.1
django-debug-toolbar-template-timings==0.6.4
django-debug-toolbar==1.3.2
django-discover-runner==1.0
django-extensions==1.5.2
django-hijack==1.0.8
django-jenkins==0.17.0
django-leaflet==0.13.7
django-model-utils==2.2
django-multiupload==0.5
django-parler==1.2.1
django-pipeline-compass==0.1.5
django-pipeline==1.3.27
django-polymorphic==0.6.1
django-redis==3.7.2
django-rosetta==0.7.6
django-secure==1.0.1
django-sekizai==0.8.1
django-sendfile==0.3.6
django-statici18n==1.1.2
django-timedeltafield==0.7.3
django-timezone-field==1.1
django-watson==1.1.5
Django==1.7.10
djangorestframework-chain==0.1.3
djangorestframework==2.3.14
eventlet==0.15.2
flake8==2.2.3
flower==0.8.1
ftputil==3.2
futures==2.2.0
GitPython==0.3.6
glue==0.11.0
google-api-python-client==1.4.0
gunicorn==19.2.0
hiredis==0.1.5
httpagentparser==1.7.6
ipython==4.0.0
iso8601>=0.1.10
lockfile==0.10.2
logutils==0.3.3
lxml==3.4.1
mock==1.0.1
msgpack-python>=0.4.2
numpy>=1.8.2
pandas>=0.14.1
pep8==1.5.7
Pillow==2.8.1
pip==7.1.0
polib==1.0.6
postfix-stats==0.3.1
potpie==0.1.1
premailer==2.8.1
psutil==3.0.1
psycopg2==2.6.1
pyflakes==0.8.1
pyftpdlib==1.4.0
pylint==1.4.3
pyOpenSSL==0.14
python-dateutil>=2.2
python-pptx==0.5.7
pytz==2014.10
raven==5.1.1
redis==2.10.3
requests==2.6.0
scipy>=0.14.0
selenium==2.46.0
sentry[postgres]==6.4.4
setproctitle
setuptools>=1.0
sh==1.09
six
supervisor==3.1.0
SwampDragon-auth==0.1.3
SwampDragon==0.4.1.2
ujson==1.33
virtualenv==12.0.7
WeasyPrint==0.22
xlrd==0.9.3
XlsxWriter==0.6.6
